<template name="join">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Join.</h1>
        <p class="subtitle-auth" >Loans are now more than just money</p>

        <div class="container-fluid">

        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol  {{errorClass 'name'}}">
            <input type="text" name="firstName" placeholder="First Name" />
            <span class="icon- glyphicon glyphicon-user" aria-hidden="true"></span>
            <input type="text" name="lasttName" placeholder="Last Name" />
          </div>

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="email" name="email" placeholder="Your Email" />
            <span class="icon- glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </div>

          <div class="input-symbol  {{errorClass 'password'}}">
            <input type="password" name="password" placeholder="Password" />
            <span class="icon- glyphicon glyphicon-lock" aria-hidden="true"></span>
          </div>

          <div class="input-symbol {{errorClass 'confirm'}}">
            <input type="password" name="confirm" placeholder="Confirm Password" />
            <span class="icon- glyphicon glyphicon-lock" aria-hidden="true"></span>
          </div>

          <div class="btn-group {{errorClass 'role'}}" id="roles" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="options" id="student" autocomplete="off"> Student
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="investor" autocomplete="off"> Investor
            </label>
          </div>


            <div class="input-symbol  {{errorClass 'edu'}}">
              <input type="text" name="education" placeholder="Alma Mater" />
              <span class="icon- glyphicon glyphicon-education" aria-hidden="true"></span>
              <input type="text" name="major" placeholder="Major" />
            </div>

          <button type="submit" class="btn-primary">Join Now</button>
        </form>
      </div>
    </div>


    </div>
  </div>
</template>
